<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
<title>HelloSpringBoot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div th:replace="layout/bodyHeader2 :: bodyHeader" />
		<div class="jumbotron">
			<h1>일반사용자는 접근할 수 없습니다.</h1>
			<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
		</div>
		<div th:replace="layout/footer :: footer" />
	</div>
</body>
</html>