<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
<title>HelloSpringBoot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div th:replace="layout/bodyHeader2 :: bodyHeader" />
		<div class="jumbotron">
			<h1>HelloSpringBoot</h1>
			<p class="lead">회원 기능</p>
			<p>
			<form name="logoutForm" th:action="@{/logout}" method="POST" >
				<input type="submit" value="로그아웃" class="btn btn-lg btn-secondary"/>
				<a class="btn btn-lg btn-secondary" th:href="@{/admin/userList}">회원 목록</a>  <!-- 관리자만 접근 가능  -->
			</form>	
			</p>
			<p class="lead">게시판</p>
			<p>
				<a class="btn btn-lg btn-dark" th:href="@{/auth/board/register}">글쓰기</a> 
				<a class="btn btn-lg btn-dark" th:href="@{/auth/board/list}">게시판</a>
			</p>
			<p class="lead">마이페이지</p>
			<p>
				<a class="btn btn-lg btn-info" th:href="@{/auth/user/update}">회원 정보 수정</a>
			</p>
		</div>
		<div th:replace="layout/footer :: footer" />
	</div>
</body>
</html>